.navbar-main {
    background-color: #f9f9f9;
}

.nav {
    display: flex;
    padding: 10px 0;
}

.nav a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #999999;
    font-size: 1rem;
}

.nav li:nth-child(1) a {
    padding-left: 0;
}

.nav a:hover {
     color: #444444;
}